@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

#submitbtn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: #FFB51A;
    border-color: #FFB51A;
    color: #ffff; 
}
#submitbtn:hover {
    background-color: #ffffff;
    border-color: #FFB51A;
    color: #FFB51A; 
}

.customCategoryLabel {
    font-family: 'Source Sans Pro', sans-serif;    
    font-weight: 600;
    background-color: #FFB51A;
    border-color: #FFB51A;
    color: #ffff; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: large;

}

.customTable {
    font-size: min(1.75vw, 14px);
    line-height: 150%;
    border-color: #726E73;
    vertical-align: middle;
    font-weight: 300;

}