@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

.customGradient {
    background-image: linear-gradient(#CCF7F4, #ffffff,  #EED991);
}

.customGradientReverse {
    background-image: linear-gradient( #EED991, #ffffff, #CCF7F4);
}

.customGradientBlue {
    background-image: linear-gradient(#ffffff, #CCF7F4);
}

.customGradientYellow {
    background-image: linear-gradient(#ffffff, #EED991);
}