@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

.customGradient {
    background-image: linear-gradient(#CCF7F4, #ffffff,  #EED991);
}

.customGradientReverse {
    background-image: linear-gradient( #EED991, #ffffff, #CCF7F4);
}

.customGradientBlue {
    background-image: linear-gradient(#ffffff, #CCF7F4);
}

.customGradientYellow {
    background-image: linear-gradient(#ffffff, #EED991);
}

.customTitleImage {
    background-image: url("../static/images/background5.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
}
.customTitleAboutImage {
    background-image: url("../static/images/background4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.customTitleText {
    margin-top: 18%;
    color: #ffffff;
    text-shadow: #FAFAFA 1px 0 5px;
}

.customNavItem {
    color: #ffffff;
    text-shadow: #FAFAFA 1px 0 5px;
}

.customFooter {
    background-color: #340068;
    color: #ffffff;
}

.carImage {
    width: 300px;
    height: auto;
}

.aboutPhoto {
    width: 200px;
    height: 200px;
}