@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Mulish:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@300;400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

  h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    letter-spacing: 1 px; 
    color: #39343A;
}

h3, h4, h5, h6 {font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    letter-spacing: 1 px; 
    color: #39343A;}

body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: 0.1px; color: #39343A;
}

.customHomeGradient {
    background-image: linear-gradient(#FCF8EA, #ffffff,  #EED991);
}

.customGradient {
    background-image: linear-gradient(#CCF7F4, #ffffff,  #EED991);
}

.customGradientReverse {
    background-image: linear-gradient( #EED991, #ffffff, #CCF7F4);
}

.customGradientBlue {
    background-image: linear-gradient(#ffffff, #CCF7F4);
}

.customGradientYellow {
    background-image: linear-gradient(#ffffff, #EED991);
}

.customTitleImage {
    /* background-image: url("../static/images/background6.png");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #FCF8EA;
}
.customTitleAboutImage {
    /* background-image: url("../static/images/background6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #FCF8EA;

}
.customTitleEquityImage {
    /* background-image: url("../static/images/background7.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #FCF8EA;
}

.customHomeTitleText {
    font-size: 50px;
    color: #39343A;
    /* text-shadow: #FAFAFA 1px 0 5px; */
}

.customTitleText {
    color: #39343A;
    font-size: 40px;
    /* text-shadow: #FAFAFA 1px 0 5px;  */
    font-weight: 600;
}

.customSubTitleText {
    color: #726E73;
    /* text-shadow: #FAFAFA 1px 0 5px;  */
    font-weight: 500;
}

.customNavItem {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: #39343A;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-size: small;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* text-shadow: #FAFAFA 1px 0 5px; */
}
.customNavItem:hover {
    color: #000;
    letter-spacing: 0.75px;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    /* text-shadow: #fafafa 1px 0 5px; */
    text-decoration: underline;
}

.customFooter {
    background-color: #FCF8EA;
    color: #39343A;
}

.carImage {
    width: 250px;
    height: auto;
}

.aboutPhoto {
    width: 200px;
    height: 200px;
}
.sourcesPhoto {
    width: 100px;
    height: 100px;
}
.tcoPhoto {
    width: 20%;
    height: auto;
}

.customTitleButton {
    font-family: 'Source Sans Pro', sans-serif;    
    font-weight: 600;
    background-color: #FFB51A;
    border-color: #FFB51A;
    color: #ffff; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: medium;

}
.customTitleButton:hover {
    background-color: #FCF8EA;
    border-color: #FFB51A;
    color: #FFB51A; 

}
.customTitleButtonOutline {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    border-color: #FFB51A;
    color: #FFB51A; 
}
.customTitleButtonOutline:hover {
    background-color: #FFB51A;
    border-color: #FFB51A;
    color: #ffffff; 
}

/* .customCardHover svg {
    margin: auto;
    height: 75px;
} */
/* .customCardHover:hover svg {
    fill:white;
    stroke: white;
} */
/* .customCardHover:hover {
    background-image: linear-gradient(to right, #FF485B , #9CF6F0);
    color: white;
} */

.customZEV {
    background-image: linear-gradient(to right, #FF485B , #9CF6F0);
}

.customICE {
    background-image: linear-gradient(to left, #CCBFD9 , #EED991);
}


