@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

// custom variables 
$font-family-sans-serif: 'Cardo', serif;
$font-family-base: 'Josefin Sans', sans-serif;
$primary: #CCF7F4;
$secondary: #EED991;
$pink: #FF6978;
$purple: #340068;
$dark: #221D23;
$nav-link-color: #221D23;
$enable-gradients: true;

// import the functions and variables 
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
@import '../node_modules/bootstrap/scss/_utilities.scss';

$custom-position-values: (
    25: 25%,
);
$position-values: map-merge($position-values, $custom-position-values);


@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

