<!DOCTYPE html>
<html>
    <head>
        <title>This is a test</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>

    <h1>This is form</h1>
    <form action="/eeeApp/testForm/" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

    </body>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $("#id_model").change(function () {
        var url = $("#testForm").attr("data-model-url");  // get the url of the `load_cities` view
        var model_id = $(this).val();  // get the selected country ID from the HTML input
  
        $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'model': model_id       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
  
      });
    </script> -->


</html>

