<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - MIMS Capstone Project</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- CSS -->
    <link href="../css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- Observable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  
  </head>
  <body>

    <div class="customTitleAboutImage">

      <div class="col-12"> <!-- begin nav bar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../vehicleForm/vehicle_form.html">Emissions Explorer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../templates/equity.html">Accessibility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active customNavItem" href="../templates/about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>  
      </div> <!-- end nav bar -->

        <div class="container-md" style="max-width: 1050px;">
          <div class="row pb-5 d-flex align-items-center" style="height: 200px;">
            <div class="col-12 p-5 customTitleText">
              <h1 class="customTitleText">About this Project</h1>
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->

        <hr class="border border-secondary border-4 opacity-100 p-0 m-0" /> 
  
    </div> <!-- end header section -->
    
    <div class="customBackgroundNeutral py-5">

      <div class="container-md bg-white my-5 shadow" style="max-width: 1050px;">
        <div class="row pb-1">
          <div class="col-12 pt-5 px-5">
            <h3>About this Project</h3>
            <p>
              <br>
              Our project, The Hidden Emissions of Electric Vehicles, examines the sustainability of zero emissions vehicles and highlights barriers to EV adoption and use in California. Through an interactive website and vehicle emissions tool, called Emissions Explorer, we break down how and why EVs still emit, and let people explore how different factors – charging location, vehicle type, and mileage – all impact emissions.
              <br><br>
Our Emissions Explorer allows a user to input almost any vehicle (gas, hybrid, or electric) and outputs the lifetime emissions of that vehicle, along with useful context about how that vehicle compares to its peers. We built our emissions model calculations using data from the GREET model, created by Argonne National Laboratory (ANL), and vehicle emissions and weight data from the EPA. Emissions Explorer models the production, use, and end-of-life emissions for a vehicle, and is the first tool to integrate these calculations into a digestible, consumer-facing product.
<br><br>
The Hidden Emissions of Electric Vehicles and Emissions Explorer, were ideated, designed, and built by three students from the School of Information at UC Berkeley as a capstone project for the <a href="https://www.ischool.berkeley.edu/programs/mims" target="_blank" class="link-dark">Master of Information Management and Systems program</a>. 
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-12 p-5 text-center">
            <a class="btn btn-lg mt-4 mx-3 rounded-pill px-5 customTitleButton" href="https://www.ischool.berkeley.edu/projects/2023/hidden-emissions-electric-vehicles" role="button">Visit our iSchool Page</a>
            <a class="btn btn-lg mt-4 mx-3 rounded-pill px-5 customTitleButton" href="https://www.ischool.berkeley.edu/sites/default/files/sproject_attachments/eee_astoriaclarajosh_mimscapstonefinalpaper_0.pdf" role="button">Read our Report</a>
            <a class="btn btn-lg mt-4 mx-3 rounded-pill px-5 customTitleButton" href="https://github.com/EEE-Capstone/MIMS-Capstone" role="button">See our GitHub</a>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-4">
          <div class="col-12 px-5 pb-5">
            <p>
              <!-- <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#Allsources" aria-expanded="false" aria-controls="collapseExample">
                Do we need another sources section?
              </button> -->
            </p>
            <div class="collapse" id="Allsources">
              <div class="card card-body ">
                <ul class="">
                  <li>
                    We
                  </li>
                  <li>
                    Will
                  </li>
                  <li>
                    Have
                  </li>
                  <li>
                    Many
                  </li>
                  <li>
                    Sources
                  </li>
                </ul>
              </div> end card
            </div> <!-- end collapse -->            
          </div>  <!-- end col -->

        </div>  <!-- end row -->
      </div> <!-- end container -->

      <div class="container-md bg-white my-5 shadow" style="max-width: 1050px;">
        <div class="row pb-1">
          <div class="col-8 px-5 pt-5">
            <h3>Team Members</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 pt-3 justify-content-center">
          <span class="col-4 px-sm-5" style="min-width:200px">
            <div class="card text-center" style="border: 0;">
              <img src="../static/images/Astoria.png" class="aboutPhoto mx-auto d-block w-50 h-50"> 
              <div class="card-body p-0">
                <h5>Astoria Ho</h5>
                <p class="card-text">MIMS '23</p>
              </div>
            </div> <!-- end card -->
          </span> <!-- end col -->
          <span class="col-4 px-sm-5" style="min-width:200px">
            <div class="card text-center" style="border: 0;">
              <img src="../static/images/Clara.png" class="aboutPhoto mx-auto d-block w-50 h-50"> 
              <div class="card-body p-0">
                <h5>Clara Hu</h5>
                <p class="card-text">MIMS '23</p>
              </div>
            </div> <!-- end card -->
          </span> <!-- end col -->
          <span class="col-4 px-sm-5" style="min-width:200px">
            <div class="card text-center" style="border: 0;">
              <img src="../static/images/Josh.png" class="aboutPhoto mx-auto d-block w-50 h-50"> 
              <div class="card-body p-0">
                <h5>Josh Everts</h5>
                <p class="card-text">MIMS '23</p>
              </div>
            </div> <!-- end card -->
          </span> <!-- end col -->
        </div> <!-- end row -->

        <div class="row pb-1">
          <div class="col-12 px-5 pb-5">
            <p>MIMS Capstone Advisor: Professor Marti Hearst</p>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

      <div class="container-md" style="max-width: 1050px;">
        <div class="row">
          <div class="col-12 p-5 text-center" style="">
            <h3>Thanks for visiting!</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

    </div> <!-- end gradient section -->

    <div class="customFooter">
      <hr class="border border-secondary border-4 opacity-100 p-0 m-0" /> 
      <div class="container-md" style="max-width: 1050px;">
        <div class="row">
          <div class="col-8 p-5">
            Astoria Ho, Clara Hu, Josh Everts -- MIMS '23 Capstone Project
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end footer section -->

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </body>