<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIMS Capstone Project: Equity</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- CSS -->
    <link href="../css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- Observable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  
  </head>
  <body>

    <div class="customTitleEquityImage">

      <div class="col-12"> <!-- begin nav bar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../vehicleForm/vehicle_form.html">Emissions Explorer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active customNavItem" href="../templates/equity.html">Accessibility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../templates/about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>  
      </div> <!-- end nav bar -->


      <div class="container-md" style="max-width: 1050px;">
        <div class="row pb-5 d-flex align-items-center" style="height: 200px;">
          <div class="col-12 p-5 customTitleText">
            <h1 class="customTitleText">Increasing Access to Zero Emission Vehicles</h1>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

  </div> <!-- end header section -->


    <div class="customGradientReverse py-5">

      <div class="container-md" style="max-width: 1050px;">
        <div class="row pb-5">
          <div class="col-6 p-5">
            <!-- <h3>Barriers to ZEV Adoption</h3> -->
            <p> 
              The adoption of zero emission vehicles is more complicated than just people purchasing them. An infrastructure needs to be in place to accomodate for this increased use of ZEVs -- the most obvious being the electrical grid. 
              <br><br>
              Here we explore more about the electical grid, its stress under extreme weather, and its ability to take on increased load of EV charging.   
            </p>
            <ul>
              <li>Electrical grid's ability to accomodate increased EV charging</li>
              <li>Accessiblity to EV chargers</li>
              <li>Consumer behavior</li>
            </ul>
          </div> <!-- end col -->
          <div class="col-6 p-5 d-flex justify-content-center">
            <img src="../static/images/image.png" style="height: 300px; width: auto;">
          </div>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row text-center pt-3">
          <div class="col-12 px-5 pt-5">
            <h3>Stressors to the grid make it difficult to support ZEV adoption</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row align-items-center">
          <div class="col-6 p-5 " style="">
            <img src="../static/images/GridBasics.png" style="max-width: 100%; height: auto;">
          </div> <!-- end col -->
          <div class="col-6 p-5" style="height: 300px">
            <h5>Grid Overview</h5>
            <p><br>This is the basic framework of the electrical grid. It includes generators, lines, and substations. When the grid is stressed, a breakdown of any of these parts will affect the ability to provide electricity to industry, commerical, and residental. 
              <br><br>
              <h6 style="text-decoration: underline;">What stresses the grid?</h6>
              <br><br>
              <!-- <caption>Yu, Xinghuo & Cecati, Carlo & Dillon, Tharam & Simoes, Marcelo. (2011). The New Frontier of Smart Grids. Industrial Electronics Magazine, IEEE. 5. 49 - 63. 10.1109/MIE.2011.942176. 
              </caption> -->
          </p>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row align-items-center">
          <div class="col-6 p-5" style="height: 500px">
            <h5>Extreme Weather as a Grid Stressor</h5>
            <p><br>Extreme weather negatively impacts ability to provide consistent electricity.
              <br><br>
              Burillo et al. (2019) conducted a study focusing on current and future stresses to electricity infrastructure in Los Angeles County, California. 
              <br>
              The case study describes the effect that rising air temperatures have on the vulnerability of LA County’s electricity infrastructure. See figure right.
              <!-- <ol>
                <li>Loss of capacity between 2 and 20 percent by 2060</li>
                <li>Local energy reserve margins to decrease from the historical -1 to -6GW to -15GW</li>
              </ol> -->
            </p>
            <p>
              <strong>How does this relate to ZEV access?</strong>
              <br>
              In extreme weather events, electricity might need to be shut off preventing people to charge their vehicles during the duration of the outage. This might be ok for outages lasting less than day, but outages could last for days on end.
            </p>
          </div> <!-- end col -->
          <div class="col-5 py-5" style="">
              <img src="../static/images/overheat.png" style="max-width: 100%; height: auto;">
          </div>       
        </div> <!-- end row -->

        <div class="row pb-5">
          <div class="col-12 p-5 bg-warning-subtle">
            <h5 class="text-center">Example: January 2023 California Power Outages</h5>
            <p>
              <!-- <br>
              <h6>2023 January Power Outages in California Due to Severe Storms</h6> -->
              <br>
              Most recently we've seen California's grid stressed under extreme weather conditions of winter storms, high winds, and heavy rainfall. Thousands of Californian's were without power in their homes as powerlines and support poles were taken down with fallen trees. 
              <br><br>
              According to LA Times, over 400,000 people were without power at one time. And power did not return for days for some communities, with power outages lasting over 4 consecutive days.
              <br><br>
              **Find more data about how many storms + outages have occured this year. I could also not find a poweroutage map of how bad it was then,, will need to dig on social media or something.
              <br>
              **Solutions to this: PG&E trying to bury their powerlines but $$$$, people get their own personal microgrids
            </p>
            <div class="text-center">
              <img src="../static/images/capoweroutages.png" style="width: 50%;">
            </div>
            <!-- <p>https://www.latimes.com/california/story/2023-01-13/california-storms-left-thousands-without-power-can-grid-be-more-resilient
              <br>
              https://www.pge.com/en_US/residential/customer-service/other-services/electric-undergrounding-program/electric-undergrounding-program.page
            </p> -->
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-9 px-5">
            <h5>At-Home ZEV Charging as a Grid Stressor</h5>
            <p><br>
              A large portion of electric grid infrastructure in California is ill-equipped to handle at-home electric vehicle charging. 
            </p>
            <h5>More than half of households in California lack access to new loads of electricity for EV Charging:</h5>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-12 px-5 py-3 text-center">          
            <img src="../static/images/abilitytochargeathome.png" style="max-width: 40%;" class="">
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row align-items-center">
          <div class="col-6 px-5 pb-5">
            <p>
              In order to meet the demands of additional energy-intensive applications, such as electric vehicle charging, the electrical grid would need to make upgrades or households would need to turn to increased solar photovoltaic adoption in order to make up for the additional load. 
              <br><br>
              Even then, the grid also may not have adequate hosting capacity for many households to install or adopt solar PV (Brockway, Conde, and Callaway, 2021).
              <br><br>
              Grid constraints on solar PV adoption include thermal constraints, power quality constraints, protection grid constraints, as well as physical building suitability for PV installation. 
            </p>
          </div> <!-- end col -->
          <div class="col-6 px-5 pb-5">
            <img src="../static/images/gridconstraints2.png" style="max-width: 100%; height: auto;">
          </div> <!-- end col -->
        </div> <!-- end row -->

      </div><!-- end container -->

    </div> <!-- end reverse gradient -->

    <div class="customGradient pb-5">

        <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row pt-4">
          <div class="col-12 px-5 pt-5">
            <h3 class="text-center">Access to public charging affects adoption of ZEVs.</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
            <div class="col-10 px-5">
              <p><br>
                Availability of charging infrastructure can play a large role in if an individual considers purchasing an electric vehicle because having access to charging is essential in the operation of the vehicle. 
                <br><br>
                People who are in the most need of access to public chargers include:
                <ul>
                  <li>People without off-street parking</li>
                  <li>People without home chargers</li>
                  <li>Apartment residents who have lower access to home chargers</li>
                  <li>People who rent homes without chargers– renters may not want to pay for the upgrade themselves and landlords may not want to pay for an upgrade they will not use</li>
                  <li>People who are traveling long distances and have range anxiety.</li>
                </ul>
                <br>
                Often the people who match the descriptions of those who are in the most need of access to public chargers are located in poorer or more disadvantaged communities. Hsu and Fingerman (2021) found that public electric vehicle charger access generally increases with income. In addition, gaps in public electric vehicle access also exist among different racial groups.
              </p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row">
          <div class="col-12 px-5">
             <!-- DESCRIPTION OF THE CHART -->
             <hr class="border border-secondary border-1 opacity-100" /> 
             <h5>See how access to public chargers in counties in California differ.  
             </h5>
             <hr class="border border-secondary border-1 opacity-100" /> 
             <br>
             <!-- END -- DESCRIPTION OF THE CHART -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-5">
            <div style="max-width:100%" id="observablehq-allCharts-d5fb0956"></div>
            <div id="observablehq-calls-d5fb0956" style="display:none; max-width:100%;"></div>
            <!-- <p>Credit: <a href="https://observablehq.com/d/747cf5be98c1e86c">Accessibility of Chargers by Clara Hu</a></p> -->
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLineChart" aria-expanded="false" aria-controls="collapseExample">
              Chart Sources
            </button>
            <div class="collapse" id="collapseLineChart">
              <div class="card">
                <!-- <h6 class="card-header">Sources</h6> -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div> <!-- end card -->
            </div> <!-- end collapse of drop down -->
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-9 px-5 pt-5">
            <h5>What is being done to increase access to charging?</h5>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row d-flex">
          <div class="col-6 p-3" style="">
            <div class="card border-0" style="width: 100%;">
                <div class="card-body px-5 pb-5">
                <h3 class="text-center">1</h3>
                <p class="card-text">
                  As part of the Infrastructure Investment and Jobs Act, which was signed into law on November 15, 2021, $7.5 billion was dedicated to building a national network of 500 thousand electric vehicle chargers, with $383 million allocated for California. 
                </p>
              </div>
            </div> <!-- end card -->
          </div>  <!-- end col -->
          <div class="col-6 p-3">
            <div class="card border-0" style="width: 100%;">
              <div class="card-body px-5 pb-5">
                <h3 class="text-center">2</h3>
                <p class="card-text">
                  California’s 2022-23 budget dedicated $600 million over four years for ZEV Fueling Infrastructure Grants that prioritize fast chargers (California Legislative Analyst’s Office, 2022). 
                </p>
              </div>
            </div> <!-- end card -->
          </div>  <!-- end col -->
        </div> <!-- end row -->

      </div> <!-- end container -->

    </div> <!-- end reverse gradient -->

    <div class="customGradientReverse pb-5">

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">

        <div class="row pt-3">
          <div class="col-9 px-5 pt-5 pb-5">
            <h3>Consumer Choice between ZEVs and ICEs</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
  
        <div class="row py-4 mx-5">
          <div class="col-12">
            <h5 class="text-center">Cost of Owning a Vehicle</h5>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row mx-5 mb-4 pb-3">
          <div class="col-3 border-end border-1 border-dark">
            <div class="" style="">
              <img src="../static/images/tco/car.png" class="tcoPhoto mx-auto d-block"> 
              <div class="pt-4">
                <p class=" text-center">Capital cost of the vehicle</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          <div class="col-3 border-end border-1 border-dark">
            <div class="" style="border: 0;">
              <img src="../static/images/tco/fuel.png" class="tcoPhoto mx-auto d-block"> 
              <div class="pt-4">
                <p class="text-center">Lifetime fuel costs</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          <div class="col-3 border-end border-1 border-dark">
            <div class="" style="border: 0;">
              <img src="../static/images/tco/main.png" class="tcoPhoto mx-auto d-block"> 
              <div class="pt-4">
                <p class=" text-center">Maintenance costs</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          <div class="col-3">
            <div class="" style="border: 0;">
              <img src="../static/images/tco/repair.png" class="tcoPhoto mx-auto d-block"> 
              <div class="pt-4">
                <p class="text-center">Repair costs</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row pb-1">
          <div class="col-10 px-5">
            <p>
              The Fuels Institute (2022) drew these conclusions about the TCO of ICEs, HEVs, and BEVs when owned for 10 years. 
            </p>
            <div class="text-center">
              <img src="../static/images/TCO_FI.png" style="width: 50%;">
            </div>
            <p><br>
              <!-- However since last year, capital costs of ZEVs could be equal to ICEs. The New York Times reported that EVs are becoming more affordable due to decreased raw material prices and government incentives.  -->
              <!-- The Inflation Reduction Act passed in 2022 provides tax credits of $7,500 for people who purchased electric vehicles, both new and used.  -->
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <!-- <div class="row pt-3 pb-1">
          <div class="col-9 px-5">
            <h5 class="">But these lifetime cost calculations aren't well-known</h5>
            <p>
              <br>
              This might be because:
              <ul>
                <li>Information about fuel savings is confusing</li>
                <li>Their rational focuses on short-term savings rather than long-term</li>
                <li>People’s math skills are limited</li>
              </ul>
              <br>
              With this lack of information and knowledge, people may not be spending much time analyzing the fuel economy and potential savings when picking a new car - which would result in a lower than expected adoption rate of ZEVs. 
            </p>
          </div> 
        </div>  -->

        <div class="row pb-1">
          <div class="col-9 px-5 pt-3">
            <h5>Other factors that affect people's vehicle choice: </h5>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row d-flex pb-5 pt-4">
          <div class="col-6 px-5" style="">
            <h6 class="text-center">Societal Factors</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex align-items-start list-group-item-info ">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Economic and regulatory environments</div>
                  - The Inflation Reduction Act passed in 2022 provides tax credits of $7,500 for people who purchased electric vehicles, both new and used.  
                </div>
              </li>
              <li class="list-group-item">Vehicle performance</li>
              <li class="list-group-item d-flex align-items-start list-group-item-info ">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Fueling Infrastructure</div>
                  - Lack of system integration such as refueling infrastructure
                </div>
              </li>
              <li class="list-group-item">Car features such as price, fuel economy, comfort, and reliability
              </li>
            </ul>
          </div>  <!-- end col -->
          <div class="col-6 px-5">
            <h6 class="text-center">Psychological Factors</h6>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lifestyle      </li>
              <li class="list-group-item d-flex align-items-start list-group-item-info ">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Self-image</div>
                  - A person might choose a particular vehicle as a status symbol
                </div>
              </li>
              <li class="list-group-item">Values</li>
            </ul>
          </div>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end reverse gradient -->

    <div class="bg-primary pb-5">
      <div class="container-md pb-5 bg-white shadow" style="max-width: 1050px;">
        <div class="row pt-5">
          <div class="col-12 pt-3 px-5">
            <h3>Conclusion</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pt-2">
          <div class="col-12 pt-3 px-5">
            <p>Conclusion</p>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end yellow section -->


    <div class="bg-primary pb-5">
      <div class="container-md pb-5 bg-white shadow" style="max-width: 1050px;">
        <div class="row pt-5">
          <div class="col-12 pt-3 px-5">
            <h3>Where next?</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pt-2">
          <div class="col-6 pt-3 px-5 text-center">
            <h5>Explore the Emissions of a Vehicle</h5>
            <!-- <p>Input the year, make, and model of any vehicle to see its lifetime emissions.</p> -->
            <a class="btn btn-primary btn-lg mt-4 mx-3 rounded-pill px-5 customTitleButton" href="tool.html">Emissions Explorer</a>
          </div> <!-- end col -->
          <div class="col-6 pt-3 px-5 text-center">
            <h5>Who Made This?</h5>
            <p class="pt-3">
              See our sources, report, and more on our explorer tool.
            </p>
            <a class="btn btn-primary btn-lg mt-4 mx-3 rounded-pill px-5 customTitleButton" href="about.html">About Us</a>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end yellow section -->
  
      <div class="customFooter">
        <div class="container-md" style="max-width: 1050px;">
          <div class="row">
            <div class="col-8 p-5">
              Astoria Ho, Clara Hu, Josh Everts -- MIMS '23 Capstone Project
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end footer section -->
  
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      
      <!-- Accessible Charging -->
      <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
        import define from "https://api.observablehq.com/d/747cf5be98c1e86c.js?v=3";
        new Runtime().module(define, name => {
          if (name === "allCharts") return new Inspector(document.querySelector("#observablehq-allCharts-d5fb0956"));
          if (name === "calls") return new Inspector(document.querySelector("#observablehq-calls-d5fb0956"));
        });
        </script>

  </body>