<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZEV Accessibility - MIMS Capstone Project</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- CSS -->
    <link href="../css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- Observable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  
  </head>
  <body>

    <div class="customTitleEquityImage">

      <div class="col-12"> <!-- begin nav bar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../vehicleForm/vehicle_form.html">Emissions Explorer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active customNavItem" href="../templates/equity.html">Accessibility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="../templates/about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>  
      </div> <!-- end nav bar -->


      <div class="container-md" style="max-width: 1050px;">
        <div class="row pb-5 d-flex align-items-center" style="height: 200px;">
          <div class="">
            <h1 class="customTitleText">Increasing Access to <br>Zero Emission Vehicles</h1>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

      <hr class="border border-secondary border-4 opacity-100 p-0 m-0" /> 

  </div> <!-- end header section -->


    <div class="customBackgroundNeutral py-5">

      <div class="container-md" style="max-width: 1050px;">
        <div class="row pb-5 d-flex align-items-center">
          <span class="col-6 p-5" style="min-width:395px">
            <!-- <h3>Barriers to ZEV Adoption</h3> -->
            <p> 
              The adoption of zero emission vehicles (ZEV) is more complicated than just people purchasing them. An infrastructure needs to be in place to accomodate for this increased use of ZEVs -- the most obvious being the electrical grid. 
              <br><br>
              Here we explore more about the electical grid, its stress under extreme weather, and its ability to take on increased load of electric-vehicle charging.   
            </p>
            <!-- <ul>
              <li>Electrical grid's ability to accomodate increased EV charging</li>
              <li>Accessiblity to EV chargers</li>
              <li>Consumer behavior</li>
            </ul> -->
          </span> <!-- end col -->
          <span class="col-6 p-5 d-flex justify-content-center" style="min-width:280px">
            <img src="../static/images/equity_img.png" style="max-height: 300px; max-width: 100%;" class="text-center">
          </span>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row text-center pt-3">
          <div class="col-12 px-5 pt-5">
            <h3>Stressors to the grid make it difficult to support zero-emission vehicle adoption</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <!-- <div class="row align-items-center" dir="rtl"> -->
        <div class="row px-5 justify-content-end" style="" dir="rtl">
          <span class="col-5 ps-3 py-5 pe-5" dir="ltr" style="min-width:395px">
            <h5>Grid Overview</h5>
            <p><br>
              This is the basic framework of the electrical grid. It includes generators, lines, and substations. When the grid is stressed, a breakdown of any of these parts will affect the ability to provide electricity to industry, commercial, and residential.             
               <!-- <br><br> -->
              <!-- <h6 style="text-decoration: underline;">What stresses the grid?</h6> -->
              <!-- <br><br> -->
              <!-- <caption>Yu, Xinghuo & Cecati, Carlo & Dillon, Tharam & Simoes, Marcelo. (2011). The New Frontier of Smart Grids. Industrial Electronics Magazine, IEEE. 5. 49 - 63. 10.1109/MIE.2011.942176. 
              </caption> -->
          </p>
        </span> <!-- end col -->
          <span class="col-7 p-5" style="" dir="ltr">
            <img src="../static/images/equity/GridBasics.png" style="min-width:325px;" class="w-100">
          </span> <!-- end col -->
        </div> <!-- end row -->

        <div class="row px5 align-items-center">
          <span class="col-5 p-5" style="min-width:395px">
            <h5>Extreme Weather as a Grid Stressor</h5>
            <p><br>Extreme weather negatively impacts ability to provide consistent electricity.
              <br><br>
              Burillo et al.’s (2019) case study on current and future stresses to electricity infrastructure in Los Angeles County, California found that rising air temperatures exacerbate grid vulnerabilities by increasing risks of electrical grid overload and failure.
              <br>
              <!-- <u>See figure right.</u> -->
              <!-- <ol>
                <li>Loss of capacity between 2 and 20 percent by 2060</li>
                <li>Local energy reserve margins to decrease from the historical -1 to -6GW to -15GW</li>
              </ol> -->
            </p>
            <p>
              <strong>How does this relate to ZEV access?</strong>
              <br>
              In extreme weather events, electricity might need to be shut off, preventing people from charging their vehicles. Outages could last for days on end, hindering the use of EVs.
            </p>
          </span> <!-- end col -->
          <span class="col-7 py-5 p-5" style="">
              <img src="../static/images/equity/overheat.png" style="min-width:325px; max-width:100%; height: auto;">
          </span>       
        </div> <!-- end row -->

        <div class="row bg-warning-subtle">
          <span class="col-6 py-5 ps-5" style="min-width:395px">
            <h5 class="text-center">Example: 2023 January Mass Power Outages in California</h5>
            <p>
              <!-- <br>
              <h6>2023 January Power Outages in California Due to Severe Storms</h6> -->
              <br>
              Most recently we've seen California's grid stressed under extreme weather conditions of winter storms, high winds, and heavy rainfall. 
              <br><br>
              The California Governor’s Office of Emergency Services reported over 424,000 people without power at one time. Power outages lasted for, with some communities without power for over 4 consecutive days.
              <!-- **Find more data about how many storms + outages have occured this year. I could also not find a poweroutage map of how bad it was then,, will need to dig on social media or something. -->
              <br>
              <!-- **Solutions to this: PG&E trying to bury their powerlines but $$$$, people get their own personal microgrids -->
            </p>
            <div class="text-center pt-2" >
              <img src="../static/images/capoweroutages.png" class="w-75">
            </div>
            <p class="text-center pt-3">
              PG&E fixing powerlines (LA Times, 2023)
              <!-- (01/13/2023) https://www.latimes.com/california/story/2023-01-13/california-storms-left-thousands-without-power-can-grid-be-more-resilient -->
            </p>
            <!-- <p>
              <br>
              https://www.latimes.com/california/story/2023-01-08/300-000-lose-power-sacramento-area-storm-winds
              <br>
              https://www.sfchronicle.com/bayarea/article/pge-outages-california-storms-wind-rain-17839576.php
              <br>
              https://www.nytimes.com/2023/01/08/us/california-storms-weather-power-outage.html?action=click&module=RelatedLinks&pgtype=Article
              <br>
              https://www.pge.com/en_US/residential/customer-service/other-services/electric-undergrounding-program/electric-undergrounding-program.page
            </p> -->
          </span > <!-- end col -->
          <div class="col-6 p-5 text-center" style="min-width:395px">
            <img src="../static/images/010523caloutagemap.jpeg" class="w-75">
            <img src="../static/images/equity/legend.png" class="w-75 pt-3">
            <p class="fs-6 pt-3">
               PG&E outage map for Jan. 4, 2023 (Lake County News, 2023)
               <!-- https://www.lakeconews.com/news/74611-power-outages-reported-across-portions-of-lake-county -->
            </p>
          </div > <!-- end col -->

        </div> <!-- end row -->

        <div class="row pt-5 mt-3">
          <div class="col-10 px-5">
            <h5>At-Home Vehicle Charging as a Grid Stressor</h5>
            <p><br>
              <!-- A large portion of electric grid infrastructure in California is ill-equipped to handle at-home electric vehicle charging.  -->
            </p>
            <strong>More than half of households in California lack access to new loads of electricity for vehicle charging:</strong>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-12 px-5 py-3 text-center">          
            <img src="../static/images/equity/abilitytochargeathome.png" style="max-width: 40%; min-width:250px" class="">
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row align-items-center py-5">
          <span class="col-6 ps-5" style="min-width:395px">
            <p>
              Upgrades to the electrical grid or increased residential solar photovoltaic (PV) adoption is necessary to meet the demands of additional energy-intensive applications, such as electric vehicle charging.
              <br><br>
              However, the grid likely also lacks adequate hosting for mass adoption and installation of solar PV.
              <br><br>
              Grid constraints on solar PV adoption include thermal constraints, power quality constraints, protection grid constraints, as well as physical building suitability for PV installation. 
            </p>
          </span> <!-- end col -->
          <span class="col-6 p-5 pe-5 pb-5">
            <img src="../static/images/equity/gridconstraints2.png" style="min-width:325px; max-width: 100%; height: auto;">
          </span> <!-- end col -->
        </div> <!-- end row -->

      </div><!-- end container -->

    </div> <!-- end reverse gradient -->

    <div class="customBackgroundNeutral pb-5">

        <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row pt-4">
          <div class="col-12 px-5 pt-5">
            <h3 class="text-center">Access to public charging affects adoption of zero-emission vehicles</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
            <div class="col-10 px-5">
              <p><br>
                Availability of charging infrastructure can play a large role in if an individual considers purchasing an electric vehicle because having access to charging is essential in the operation of the vehicle. 
                <br><br>
                <strong>People who are in the most need of access to public chargers include:</strong>
                <ul>
                  <li>People without off-street parking</li>
                  <li>Apartment residents who have lower access to home chargers</li>
                  <li>People who rent homes without chargers– neither the renters nor the landlords may want to pay for the upgrade</li>
                  <li>People with range anxiety who are traveling long distances</li>
                </ul>
                <br>
                Often the people who match the descriptions of those who are in the most need of access to public chargers are located in poorer or more disadvantaged communities. Hsu and Fingerman (2021) found that public electric vehicle charger access generally increases with income. In addition, gaps in public electric vehicle access also exist among different racial groups.
              </p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row">
          <div class="col-12 px-5">
             <!-- DESCRIPTION OF THE CHART -->
             <hr class="border border-secondary border-1 opacity-100" /> 
             <h5>See how access to public chargers in counties in California differ.
              <br> Click on a county on the map, or select an area or one dot on the scatterplot. 
             </h5>
             <hr class="border border-secondary border-1 opacity-100" /> 
             <br>
             <!-- END -- DESCRIPTION OF THE CHART -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-5">
            <div style="max-width:100%" id="observablehq-allCharts-d5fb0956"></div>
            <div id="observablehq-calls-d5fb0956" style="display:none; max-width:100%;"></div>
            <!-- <p>Credit: <a href="https://observablehq.com/d/747cf5be98c1e86c">Accessibility of Chargers by Clara Hu</a></p> -->
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLineChart" aria-expanded="false" aria-controls="collapseExample">
              Chart Sources
            </button>
            <div class="collapse" id="collapseLineChart">
              <div class="card">
                <!-- <h6 class="card-header">Sources</h6> -->
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">California Energy Commission (2023). Electric Vehicle Chargers in California. Data last updated January 2023. <a style="color:gray" href=https://www.energy.ca.gov/zevstats>https://www.energy.ca.gov/zevstats</a></li>
                  <li class="list-group-item">California Energy Commission (2023). Light-Duty Vehicle Population in California. Data last updated December 2022. <a style="color:gray" href=https://www.energy.ca.gov/zevstats>https://www.energy.ca.gov/zevstats</a></li>
                  <li class="list-group-item">State of California Franchise Tax Board (2023). Personal Income Tax Data. <a style="color:gray" href=https://data.ftb.ca.gov/stories/s/2it8-edzu#california-median-income-by-county>https://data.ftb.ca.gov/stories/s/2it8-edzu#california-median-income-by-county</a></li>
                  <li class="list-group-item">United States Census Bureau (2022). Population and Housing Unit Estimates Datasets. <a style="color:gray" href=https://www.census.gov/programs-surveys/popest/data/data-sets.html>https://www.census.gov/programs-surveys/popest/data/data-sets.html</a></li>
                </ul>
              </div> <!-- end card -->
            </div> <!-- end collapse of drop down -->
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-9 px-5 pt-5">
            <h5>What is being done to increase access to charging?</h5>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row d-flex pb-3">
          <div class="col-6 p-1" style="">
            <div class="card border-0 " style="width: 100%; height:auto">
              <!-- <img src=""> -->
              <div class="card-body px-5 pb-3">
                <h6 class="text-center"><a href="https://www.congress.gov/bill/117th-congress/house-bill/3684/text" target="_blank" class="link-dark">Infrastructure Investment and Jobs Act (2021)</a></h6>
                <p class="card-text">
                  Dedicates $7.5 billion to building a national network of 500 thousand electric vehicle chargers. $383 million is allocated for California.<br><br><br>
                </p>
              </div>
            </div> <!-- end card -->
          </div>  <!-- end col -->
          <div class="col-6 p-1">
            <div class="card border-0" style="width: 100%; height:auto">
              <div class="card-body px-5 pb-3">
                <h6 class="text-center"><a href="https://lao.ca.gov/reports/2022/4561/Zero-Emission-Vehicle-Package-022322.pdf" target="_blank" class="link-dark">ZEV Fueling Infrastructure Grants</a></h6>
                <p class="card-text">
                  $600 million dedicated by California’s 2022-23 budget. Prioritization of fast chargers.<br><br><br>
                </p>
              </div>
            </div> <!-- end card -->
          </div>  <!-- end col -->
        </div> <!-- end row -->

      </div> <!-- end container -->

    </div> <!-- end reverse gradient -->

    <div class="customBackgroundNeutral pb-5">

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">

        <div class="row pt-3">
          <div class="col-12 px-5 pt-5 pb-3 text-center">
            <h3>Consumer Choice</h3>
            <p>What might affect a consumer's decision to purchase a gas-powered vehicle (ICE) or a zero emissions vehicle (ZEV)?</p>
          </div> <!-- end col -->
        </div> <!-- end row -->
  
        <div class="row py-3 mx-5">
          <div class="col-12 d-flex justify-content-center">
              <h5 class="py-2 px-3 rounded-pill text-white text-center" style="min-width:33%; background-color: #FFB51A">1. Cost of Ownership</h5>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row pt-2 mx-sm-5 mb-sm-4 pb-sm-3">
          <div class="col-3 border-end border-1 border-dark">
            <div class="" style="">
              <img src="../static/images/tco/car.png" class="tcoPhoto mx-auto d-block" style="min-width:25px"> 
              <div class="pt-4">
                <p class=" text-center">Capital cost of the vehicle</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          <div class="col-3 border-end border-1 border-dark">
            <div class="" style="border: 0;">
              <img src="../static/images/tco/fuel.png" class="tcoPhoto mx-auto d-block" style="min-width:25px"> 
              <div class="pt-4">
                <p class="text-center">Lifetime fuel costs</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          <div class="col-3 border-end border-1 border-dark">
            <div class="" style="border: 0;">
              <img src="../static/images/tco/main.png" class="tcoPhoto mx-auto d-block" style="min-width:25px"> 
              <div class="pt-4">
                <p class=" text-center">Maintenance costs</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          <div class="col-3">
            <div class="" style="border: 0;">
              <img src="../static/images/tco/repair.png" class="tcoPhoto mx-auto d-block" style="min-width:25px"> 
              <div class="pt-4">
                <p class="text-center">Repair costs</p>
              </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
        </div> <!-- end row -->

        <!-- <div class="row pb-1">
          <div class="col-10 px-5">
            <p>
              The Fuels Institute (2022) drew these conclusions about the TCO of ICEs, HEVs, and BEVs when owned for 10 years. 
            </p>
            <div class="text-center">
              <img src="../static/images/TCO_FI.png" style="width: 50%;">
            </div>
            <p><br>
               However since last year, capital costs of ZEVs could be equal to ICEs. The New York Times reported that EVs are becoming more affordable due to decreased raw material prices and government incentives.  -->
              <!-- The Inflation Reduction Act passed in 2022 provides tax credits of $7,500 for people who purchased electric vehicles, both new and used.  
            </p>
          </div>  end col
        </div> end row -->

        <!-- <div class="row pt-3 pb-1">
          <div class="col-9 px-5">
            <h5 class="">But these lifetime cost calculations aren't well-known</h5>
            <p>
              <br>
              This might be because:
              <ul>
                <li>Information about fuel savings is confusing</li>
                <li>Their rational focuses on short-term savings rather than long-term</li>
                <li>People’s math skills are limited</li>
              </ul>
              <br>
              With this lack of information and knowledge, people may not be spending much time analyzing the fuel economy and potential savings when picking a new car - which would result in a lower than expected adoption rate of ZEVs. 
            </p>
          </div> 
        </div>  -->

        <div class="row pb-1">
          <!-- <div class="col-9 px-5 pt-3">
            <h5>Other factors that affect vehicle choice: </h5>
          </div> end col -->
        </div> <!-- end row -->
        <div class="row d-flex pb-5 pt-4 justify-content-center">
          <span class="col-6 px-5" style="min-width: 395px;">
            <h5 class="py-2 px-3 rounded-pill text-white text-center w-75 m-auto" style="background-color: #FFB51A">2. Societal Factors</h5>
            <!-- <h5 class="text-center">2. Societal Factors</h5> -->
            <ul class="list-group list-group-flush pt-3">
              <li class="list-group-item d-flex align-items-start  ">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Economic and regulatory environments</div>
                  - How do policies passed affect consumer decisions on vehicle purchases?
                  <br>
                  - The Inflation Reduction Act passed in 2022 provides tax credits of $7,500 for people who purchased electric vehicles, both new and used.  
                </div>
              </li>
              <li class="list-group-item d-flex align-items-start  ">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Fueling Infrastructure</div>
                  - Does the area I live in have proper system integration, such as EV charging, for me to own a EV?
                </div>
              </li>
              <li class="list-group-item d-flex align-items-start  ">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Vehicle Performance and Features</div>
                  - How might price, fuel economy, comfort, and reliability affect consumer choice on what vehicle to buy?
                </div>
              </li>
            </ul>
          </span>  <!-- end col -->
          <span class="col-6 px-5" style="min-width: 395px;">
            <h5 class="py-2 px-3 rounded-pill text-white text-center w-75 m-auto" style="background-color: #FFB51A">3. Psychological Factors</h5>
            <ul class="list-group list-group-flush pt-3">
              <li class="list-group-item d-flex align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Lifestyle</div>
                  - Does the vehicle fit the needs of my lifestyle, leisure and work?
                </div>
              </li>
              <li class="list-group-item d-flex align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Self-image</div>
                  - Does the vehicle you drive portray something about yourself?
                  <br>
                  - Vehicles are sometimes used as status symbols.
                </div>
              </li>
              <li class="list-group-item d-flex align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Values</div>
                  - How might the purchases we make reflect our values?
                </div>
              </li>            </ul>
            </span>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end reverse gradient -->

    <div class="customBackgroundNeutral pb-5">
      <div class="container-md pb-5 bg-white shadow" style="max-width: 1050px;">
        <div class="row pt-5">
          <div class="col-12 pt-3 px-5">
            <h3>Conclusion</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pt-2">
          <div class="col-12 pt-3 px-5">
            <p>
              With the push for more sustainable mode of passenger transportation, it is important to understand that access to these vehicles and the infrastructure needed to sustain them is not equal.
              <br><br>
              People who might want to transition to a ZEV can not because they do not have access to charging or the cars on the market do not fit their needs.
              <br><br>
              As we grow more reliant on electricity to light our homes, power our electronics, cook our food, and charge our vehicles, how does the electrical grid need to evolve to provide enough power for everyone?
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end yellow section -->


    <div class="customBackgroundNeutral pt-5 pb-5">
      <div class="container-md pb-5 bg-white shadow" style="max-width: 1050px;">
        <div class="row pt-5">
          <div class="col-12 pt-3 px-sm-5">
            <h3>Where next?</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pt-3">
          <div class="col-6 pt-2 px-3 text-center">
            <h5>Explore the Emissions of a Vehicle</h5>
            <p>Calculate the lifetime emissions of any vehicle <br>with our Emissions Explorer tool. 
            </p>
            <a class="btn btn-primary btn-lg mx-3 rounded-pill px-5 customTitleButton" style="min-width:50%;" href="../vehicleForm/vehicle_form.html">Emissions Explorer</a>
          </div> <!-- end col -->
          <div class="col-6 pt-2 px-3 text-center">
            <h5>Who Made This?</h5>
            <p class="pt-3">
              See our sources, report, and more on our explorer tool.
            </p>
            <a class="btn btn-primary btn-lg mt-4 mx-3 rounded-pill px-5 customTitleButton" style="min-width:50%;" href="../templates/about.html">About Us</a>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end yellow section -->
  
      <div class="customFooter pt-5">
        <hr class="border border-secondary border-4 opacity-100 p-0 m-0" /> 

        <div class="container-md" style="max-width: 1050px;">
          <div class="row">
            <div class="col-8 p-5">
              Astoria Ho, Clara Hu, Josh Everts -- MIMS '23 Capstone Project
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end footer section -->
  
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      
      <!-- Accessible Charging -->
      <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
        import define from "https://api.observablehq.com/d/747cf5be98c1e86c.js?v=3";
        new Runtime().module(define, name => {
          if (name === "allCharts") return new Inspector(document.querySelector("#observablehq-allCharts-d5fb0956"));
          if (name === "calls") return new Inspector(document.querySelector("#observablehq-calls-d5fb0956"));
        });
        </script>

  </body>