<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIMS Capstone Project: Equity</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- CSS -->
    <link href="../css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- Observable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  
  </head>
  <body>

    <div class="customTitleEquityImage">

      <div class="col-12"> <!-- begin nav bar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="tool.html">Emissions Explorer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active customNavItem" href="equity.html">Accessibility</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link customNavItem" href="about.html">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>  
      </div> <!-- end nav bar -->


      <div class="container-md" style="max-width: 1050px;">
        <div class="row pb-5 d-flex align-items-center" style="height: 200px;">
          <div class="col-12 p-5 customTitleText">
            <h1 class="customTitleText">Barriers to ZEV Adoption</h1>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

  </div> <!-- end header section -->


    <div class="customGradientReverse py-5">

      <div class="container-md" style="max-width: 1050px;">
        <div class="row pb-5">
          <div class="col-6 p-5">
            <h3>We know that:</h3>
            <br>
            <p>
              Introduction
              <br><br>
              We will explore how the electrical grid can affect equitable transition to zero emissions vehicles. 
            </p>
            </ul>
          </div> <!-- end col -->
          <div class="col-6 p-5 d-flex justify-content-center">
            <img src="../static/images/image.png" style="height: 300px; width: auto;">
          </div>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row">
          <div class="col-9 px-5 pt-5">
            <h3>Stressors to the grid make it difficult to support additional burden of charging.</h3>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-6 p-5 " style="">
            <img src="../static/images/traditional-electric-grid.png" style="max-width: 100%; height: auto;">
          </div> <!-- end col -->
          <div class="col-6 p-5" style="height: 500px">
            <h5>Electric Grid Basics</h5>
            <p><br>This is the basic framework of the electrical grid. It includes generators, lines, and substations. When the grid is stressed, a breakdown of any of these parts will affect the ability to provide electricity to industry, commerical, and residental. 
              <br><br>
            Yu, Xinghuo & Cecati, Carlo & Dillon, Tharam & Simoes, Marcelo. (2011). The New Frontier of Smart Grids. Industrial Electronics Magazine, IEEE. 5. 49 - 63. 10.1109/MIE.2011.942176. 
              <br><br>
              Can the electrical grid handle increased burden of vehicle charging?
          </p>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-6 p-5" style="height: 500px">
            <h5>Extreme Weather as a Grid Stressor</h5>
            <p><br>Extreme weather negatively impacts ability to provide consistent electricity.
              <br><br>
              Burillo et al. (2019) conducted a study focusing on current and future stresses to electricity infrastructure in Los Angeles County, California. 
              <br>
              The case study describes the effect that rising air temperatures have on the vulnerability of LA County’s electricity infrastructure:
              <ol>
                <li>Loss of capacity between 2 and 20 percent by 2060</li>
                <li>Local energy reserve margins to decrease from the historical -1 to -6GW to -15GW</li>
                <li>Over half of the substations in Los Angeles would be at risk of overloading during an extreme heat wave and transmission lines could face reductions in ampacity by up to 20 percent depending on air temperature, line segment length, and presence of hotspots.</li>
              </ol>
          </p>
          </div> <!-- end col -->
          <div class="col-5 p-5" style="">
              <img src="../static/images/burillo1.jpeg" style="max-width: 100%; height: auto;">
              <img src="../static/images/burillo2.jpg" style="max-width: 100%; height: auto;">
          </div>       
        </div> <!-- end row -->

        <div class="row pb-5">
          <div class="col-12 p-5 bg-dark-subtle" style="height: 400px">
            <h5>2021 Texas Electric Grid ERCOT Blackout</h5>
            <p>
              <br>
              https://energy.utexas.edu/sites/default/files/UTAustin%20%282021%29%20EventsFebruary2021TexasBlackout%2020210714.pdf
              <br><br>
              Add an image from the report and discuss the incident
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-10 px-5 pb-5">
            <h5>At-Home ZEV Charging as a Grid Stressor</h5>
            <p><br>
              A large portion of electric grid infrastructure in California is ill-equipped to handle at-home electric vehicle charging. 
              <br><br>
              Percent of Households that lack access to new loads of electricity for EV Charging
            </p>
            <img src="../static/images/abilitytochargeathome.png" style="max-width: 50%; margin-left: 25%;" class="pb-5">
            <p>
              In order to meet the demands of additional energy-intensive applications, such as electric vehicle charging, the electrical grid would need to make upgrades or households would need to turn to increased solar photovoltaic adoption in order to make up for the additional load. 
              <br><br>
              However, not only does the electric grid not have the infrastructure to account for new loads, the grid also may not have adequate hosting capacity for many households to install or adopt solar PV (Brockway, Conde, and Callaway, 2021).
              <br>
              Grid constraints on solar PV adoption include thermal constraints, power quality constraints, protection grid constraints, as well as physical building suitability for PV installation. 
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->

      </div><!-- end container -->

    </div> <!-- end reverse gradient -->

    <div class="customGradient pb-5">

        <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row">
          <div class="col-9 px-5 pt-5">
            <h3>Access to public charging affects ability for families to own ZEVs.</h3>
            <p><br>
              Availability of charging infrastructure can play a large role in if an individual considers purchasing an electric vehicle because having access to charging is essential in the operation of the vehicle. 
              <br><br>
              People who are in the most need of access to public chargers include:
              <ul>
                <li>People without off-street parking</li>
                <li>People without home chargers</li>
                <li>Apartment residents who have lower access to home chargers</li>
                <li>People who rent homes without chargers– renters may not want to pay for the upgrade themselves and landlords may not want to pay for an upgrade they will not use</li>
                <li>People who are traveling long distances and have range anxiety.</li>
              </ul>
              <br>
              Often the people who match the descriptions of those who are in the most need of access to public chargers are located in poorer or more disadvantaged communities. Hsu and Fingerman (2021) found that public electric vehicle charger access generally increases with income. In addition, gaps in public electric vehicle access also exist among different racial groups.
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-12 px-5 pt-5">
            <div id="observablehq-allCharts-d5fb0956"></div>
            <div id="observablehq-calls-d5fb0956"></div>
            <!-- <p>Credit: <a href="https://observablehq.com/d/747cf5be98c1e86c">Accessibility of Chargers by Clara Hu</a></p> -->
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLineChart" aria-expanded="false" aria-controls="collapseExample">
              Chart Sources
            </button>
            <div class="collapse" id="collapseLineChart">
              <div class="card">
                <h6 class="card-header">Sources</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div> <!-- end card -->
            </div> <!-- end collapse of drop down -->
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-9 p-5">
            <h5>What is being done to increase access to charging?</h5>
            <p><br>
              In order to increase the accessibility of electric vehicle chargers, both the federal and state governments are investing funds to zero-emission vehicle infrastructure. 
              <br><br>
              As part of the Infrastructure Investment and Jobs Act, which was signed into law on November 15, 2021, $7.5 billion was dedicated to building a national network of 500 thousand electric vehicle chargers (The United States Government, 2021), with $383 million allocated for California. 
              <br><br>
              In addition, California’s 2022-23 budget dedicated $600 million over four years for ZEV Fueling Infrastructure Grants that prioritize fast chargers (California Legislative Analyst’s Office, 2022). 
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->

      </div> <!-- end container -->

    </div> <!-- end reverse gradient -->

    <div class="customGradientReverse pb-5">

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row pb-1">
          <div class="col-9 px-5 pt-5">
            <h3>Consumer behavior affects people's ability to chose ZEVs over ICEs</h3>
            <p><br>
              Both situational and psychological factors play a role in vehicle purchases. Situational factors may include economic and regulatory environments, vehicle performance, and fueling infrastructure as well as car features such as price, fuel economy, comfort, and reliability; psychological factors may include a person’s attitude, lifestyle, self-image, and values. Depending on the individual, these factors may be of varying importance to their decision making. 
            </p>
            <h5 class="py-3">The Energy Paradox</h5>
            <p>
              This is the phenomenon that describes how many consumers may undervalue fuel economy when it comes to purchasing a vehicle.
              <br>
              People may not be spending much time analyzing the fuel economy and potential savings of different vehicles when picking a new car, which would result in a lower than expected adoption rate of ZEVs. 
              <br><br>
              This might be because:
              <ul>
                <li>Information about fuel savings is confusing</li>
                <li>People’s math skills are limited</li>
                <li>Their rational focuses on short-term savings rather than long-term</li>
                <li>They may consider different factors for purchasing a vehicle</li>
              </ul>
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-2 ">
          <div class="col-12 p-5" style="">
            <h5>Areas that ZEVs need to improve on to increase adoptability</h5>
            <p>
              <ul>
                <li>High purchase prices and long payback times</li>
                <li>Vehicles lacking ease and convenience of use</li>
                <li>Lack of system integration such as refueling infrastructure</li>
                <li>Considering vehicles as status symbols</li>
              </ul>
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end reverse gradient -->
  
      <div class="customFooter">
        <div class="container-md" style="max-width: 1050px;">
          <div class="row">
            <div class="col-8 p-5">
              Astoria Ho, Clara Hu, Josh Everts -- MIMS '23 Capstone Project
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end footer section -->
  
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      
      <!-- Accessible Charging -->
      <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
        import define from "https://api.observablehq.com/d/747cf5be98c1e86c.js?v=3";
        new Runtime().module(define, name => {
          if (name === "allCharts") return new Inspector(document.querySelector("#observablehq-allCharts-d5fb0956"));
          if (name === "calls") return new Inspector(document.querySelector("#observablehq-calls-d5fb0956"));
        });
        </script>

  </body>