<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIMS Capstone Project: Index</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- CSS -->
    <link href="../css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- Observable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  
  </head>
  <body>

    <div class="customTitleImage">
      <!-- <video autoplay muted loop id="backgroundVideo">
        <source src="../static/images/car_background.mp4" type="video/mp4">
      </video> -->
      <div class="col-12"> <!-- begin nav bar -->
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#toolSection">Tool</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="equity.html">Equity</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>  
      </div> <!-- end nav bar -->

      <div class="container position-relative" style="height: 600px"> <!-- begin content section -->
        <div class="position-absolute customTitleText">
          <h1>Energy, Emissions, and Electric Vehicles</h1>
          <p class="">MIMS Capstone 2023</p>
        </div>
      </div>  <!-- end content section -->
    </div> <!-- end header section -->

    <div class="customGradient py-5">
      <div class="container-md" style="max-width: 1050px;">
        <div class="row" style="height: 400px">
          <div class="col-6 p-5">
            <h3>Short Introduction Section</h3>
            <br>
            <p>Introduction paragraph here. Give an overview of this project, background motivations, etc. Abstract // Note from the author vibes</p>
            <ul>
              <li>This is a capstone project for MIMS</li>
              <li>We were asking these questions: </li>
              <li>I will finish this last</li>
            </ul>
          </div> <!-- end col -->
          <div class="col-6 p-5">
            <p>Image</p>
          </div>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row">
          <div class="col-10 pt-5 px-5">
            <h3>Do we have emissions under control?</h3>
            <br>
            <p>
              In 2020, greenhouse gas emissions in the United States totaled to 5,981 million metric tons of CO2 equivalent (MMT CO2e), with carbon dioxide being the most prevalent greenhouse gas emission, making up 79 percent of the total GHG emissions.
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-12 pt-4 px-5">
            <p class="pb-4 col-10">
              In order to reduce emissions and combat climate change the U.S. and states are taking actions through environmental restoration projects, promoting renewable energy, and regulating pollution.
              <br>
              Explore key policies passed in the last 30 years by the U.S. and California related to surface transportation by hovering over the emissions line chart.
            </p>
            <div id="observablehq-plot2-c4f5412f"></div>
            <!-- <p>Credit: <a href="https://observablehq.com/d/cc45001d41e8b130">Emissions by Year and Policies by Clara Hu</a></p> -->
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLineChart" aria-expanded="false" aria-controls="collapseExample">
              Chart Sources
            </button>
          </p>
          <div class="collapse" id="collapseLineChart">
            <div class="card">
              <h6 class="card-header">Sources</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
            </div> <!-- end card -->
          </div> <!-- end collapse of drop down -->
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-1">
          <div class="col-10 p-5">
            <h3>Why the focus on transportation?</h3>
            <br>
            <p>
              The two economic sectors that contributed the most to greenhouse gas emissions in 2020 were transportation at 27 percent and electric power at 25 percent; their contributions to carbon dioxide emissions specifically were 33 percent and 31 percent respectively.
            </p>
            <p style="color: #FF6978">~Create flat visualizations for these statistics.~</p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row d-flex justify-content-center">
          <div class="col-6">
            <p style="color: #76787B; font-size:20px;">In California, transportation emissions accounted for 38 percent of total greenhouse gas emissions. (2020)</p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-1">
          <div class="col-4 p-5">
            <p>Image Here</p>
          </div> <!-- end col -->
          <div class="col-8 p-5">
            <p>
              Carbon dioxide makes up 99 percent of tailpipe emissions, but vehicles fueled by gasoline or diesel also release harmful air pollutants including sulfur dioxide (SO2), nitrogen oxides (NOx), carbon monoxide (CO), formaldehyde (HCHO), particulate matter (PM), and other carbon containing compounds which make up smog (U.S. Environmental Protection Agency, 2022-b).
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-1">
          <div class="col-10 p-5">
            <p>
              Poor air quality caused by pollutants is detrimental to the environment and has also been proven to have negative health outcomes such as increased risk of asthma, dementia, lung cancer, and heart disease (Schraufnagel, 2019). Reducing greenhouse gas and toxic air pollution would make a great difference in the air quality and ultimately improve population health.
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end gradient section -->

    <div class="bg-primary py-5">
      <div class="container-md mb-5" style="max-width: 1050px;">
        <div class="row pt-5 pb-2">
          <h3>Zooming out: measuring transportation emissions</h3>
          <br>
          <p>
            Introduction of digestible outputs here
          </p>
        </div>
        <div class="row pt-2 pb-5">
          <div class="col-4 p-5" style="height: 100px">
            <p>Section 1</p>
          </div> <!-- end col -->
          <div class="col-4 p-5" style="height: 100px">
            <p>Section 2</p>
          </div>  <!-- end col -->
          <div class="col-4 p-5" style="height: 100px">
            <p>Section 3</p>
          </div>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end section -->

    <div class="bg-white py-5">
      <div class="container-md mb-5" style="max-width: 1050px;">
        <div class="row pt-5 pb-2">
          <h3>We've created more sustainable transportation!</h3>
          <p>
            <br>
            Zero emission vehicles are vehicles that produce zero exhaust emissions in any mode and condition (U.S. Department of Energy, n.d.-b).
            <br><br>
            Conventional internal combustion vehicles apply high pressure on fossil fuels in a heat engine to power the engine, which releases greenhouse gasses as exhaust emissions, while ZEVs eliminate the combustion engine related exhaust emissions. Most ZEVs draw on propulsion energy from an electric battery which virtually eliminates tailpipe carbon emissions.</p>
        </div>
        <div class="d-flex flex-row-reverse">
          <hr class="border border-secondary border-3 opacity-75" style="width:60%;"/> 
        </div>
        <div class="row d-flex flex-row-reverse">
          <div class="col-5 p-3" style="">
            <h5>Plug-in-hybrid electric vehicles (PHEV)</h5>
            <p>
              Emissions in all-electric mode**: Zero direct/tailpipe emissions; may have  evaporative emissions. 
              <br>
              Emissions in ICE mode: tailpipe  & evaporative emissions
            </p>
          </div>  <!-- end col -->
          <div class="col-4 p-3">
            <img src="../static/images/plugin-high-res.jpg" alt="Plug-in" class="carImage">
          </div>  <!-- end col -->
        </div> <!-- end row -->
        <div class="d-flex flex-row-reverse">
          <hr class="border border-secondary border-3 opacity-75" style="width:60%;"/> 
        </div>
        <div class="row d-flex flex-row-reverse">
          <div class="col-5 p-3" style="">
            <h5>Full battery electric / All-electric vehicles (BEV)</h5>
            <p>
              Emissions: Zero direct or tailpipe emissions*
              <br>
              Battery pack: stores electrical energy to power the motor that is charged through an electric power source
            </p>
          </div>  <!-- end col -->
          <div class="col-4 p-3">
            <img src="../static/images/electric-high-res.jpg" alt="Plug-in" class="carImage">
          </div>  <!-- end col -->
        </div> <!-- end row -->
        <div class="d-flex flex-row-reverse">
          <hr class="border border-secondary border-3 opacity-75" style="width:60%;"/> 
        </div>
        <div class="row d-flex flex-row-reverse">
          <div class="col-5 p-3" style="">
            <h5>Hydrogen fuel cell electric vehicles (FCEV)</h5>
            <p>
              Emissions: water vapor, heat (warm air), no tailpipe
              <br>
              Fuel cell systems contain: fuel cell stack (battery pack), balance of plant/BOP (manages supply of hydrogen and air to the stack)
            </p>
          </div>  <!-- end col -->
          <div class="col-4 p-3">
            <img src="../static/images/hydrogen-high-res.jpg" alt="Plug-in" class="carImage">
          </div>  <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end section -->

    <div class="customGradientReverse py-5">

      <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
        <div class="row pb-1">
          <div class="col-10 p-5">
            <h3>But zero emission vehicles (ZEVs) still emit.</h3>
            <p>
              <br>
              While zero-emission vehicles have virtually no tailpipe emissions during operation, they do contribute to emissions elsewhere in their life cycle. Hidden and indirect emissions should also be taken into account when considering the sustainability of zero-emission vehicles. 
              <br><br>
              To get a picture of the true life-cycle emissions from any vehicle, a Life Cycle Analysis (LCA) approach uses estimates of the emissions created during each step of a manufacturing process and the emissions created when the vehicle is driven.
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 500px">
            <p>diagram of overview of emissions in LCA for ZEV</p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 500px">
            <p>How does the LCA look different for ICE vehicles</p>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-10 p-5">
            <h3>Let's dig deeper into emission stages of ZEVs </h3>
          </div> <!-- end col -->
        </div> <!-- end row -->

        <div class="row">
          <div class="col-10 px-5">
            <h5>1. Example Stage: Mining Resources **Maybe these can be in a carousel to reduce length of the page,, but it could look ugly</h5>
            <p><!-- caption here --></p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 300px">
            Chart
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-10 px-5">
            <h5>2. Battery Production - Cathode Supply Chain</h5>
            <p><!-- caption here --></p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-8 p-5" style="height: 430px">
            <div id="observablehq-viewof-replay-e6d12576"></div>
            <div class="py-2"></div>
            <div id="observablehq-allCharts-e6d12576"></div>
            <!-- <p>Credit: <a href="https://observablehq.com/d/c901392bea8bf874">Supply Chain Geo by Clara Hu</a></p> -->
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5">
          <div class="col-12 p-5">
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSupplyChain" aria-expanded="false" aria-controls="collapseExample">
            Chart Sources
            </button>
            <div class="collapse" id="collapseSupplyChain">
              <div class="card">
                <h6 class="card-header">Sources</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div> <!-- end card -->
            </div> <!-- end collapse of drop down -->
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-10 px-5">
            <h5>3. Example Stage: Production</h5>
            <p><!-- caption here --></p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 300px">
            Chart
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-10 px-5">
            <h5>4. Example Stage: Transportation</h5>
            <p><!-- caption here --></p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 300px">
            Chart
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-10 px-5">
            <h5>5. Example Stage: Vehicle Usage</h5>
            <p><!-- caption here --></p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 300px">
            Chart
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-10 px-5">
            <h5>6. Example Stage: Recycling</h5>
            <p><!-- caption here --></p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-10 p-5 bg-dark-subtle" style="height: 300px">
            Chart
          </div> <!-- end col -->
        </div> <!-- end row -->

      </div> <!-- end container -->
    </div> <!-- end reverse gradient -->

    <div class="customGradientYellow py-5">
      <div class="container-md bg-white shadow" style="max-width: 1050px;">
        <div class="row">
          <div class="col-10 pt-5 px-5">
            <h3>Understanding the cost of charging ZEVs</h3>
            <p>
              <br>
              Battery electric vehicles (BEVs) and plug-in hybrid electric vehicles (PHEVs) are reliant on electricity, which may have varying levels of associated emissions depending on the primary source of electric generation in the geographic area where the vehicles are being charged.
              <br><br>
              When taking into account cumulative emissions from ZEVs, it is also important to consider the local electrical grid
              <br><br>
              Electricity in the United States is generated through many different energy sources including fossil fuels (natural gas, coal, petroleum), nuclear energy, and renewable energy (wind, hydro, solar, biomass, geothermal). In 2021, the US generated electricity with fossil fuels contributing to over 60 percent of electricity generation and nuclear and renewables contributing around 20 percent each.
              <br><br>
              See how the mix of electricity generation differs from region to region in the U.S. 
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row px-5">
          <div class="col-12" style="">
            <div id="observablehq-allCharts-8f5a3bd3"></div>
            <!-- <p>Credit: <a href="https://observablehq.com/d/d2acbd3b5d70efa1">Grid Mix by Interconnection Subregion by Clara Hu</a></p> -->
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row">
          <div class="col-10 px-5 py-2">
            <p>
              What do those boundaries represent? 
              <br><br>
              In the United States, electric grids across multiple states are controlled, operated, and monitored by regional transmission organizations. These regional transmission organizations (RTO) are formed and regulated by the Federal Energy Regulatory Commission (FERC), which oversees interstate exchanges of electricity, oil, and natural gas (Federal Energy Regulatory Commission, 2022). Independent system operators (ISO) are also formed through recommendations of FERC and perform similar functions as RTOs, but at a smaller scale and usually within a single state. RTOs and ISOs engage in trading and purchasing electricity across grids to fulfill energy needs or better integrate renewable energy across geographies.
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5 justify-content-around">
          <div class="col-8 px-5 py-2" style="background-color: #FF6978; border-radius: 10px;">
            <a class="" href="equity.html">Click here to learn more about how the electrical grid affects whether communities can transition to ZEV</a>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end gradient section -->

    <div class="py-5">
      <div class="container-md bg-white mb-5" style="max-width: 1050px;">
        <div class="row pb-1" id="toolSection">
          <div class="col-10 p-5">
            <h3>Calculate vehicle lifecycle emissions</h3>
            <p>
              <br><br>
              We built a tool to calculate LCA! 
              <br><br>
              Background and introduction of the tool 
              <br><br>
              Cupcake oat cake lemon drops tiramisu tiramisu dessert chupa chups caramels gummi bears. Wafer lollipop candy canes pie carrot cake oat cake pie cake. Chocolate cake gummies biscuit carrot cake candy canes bear claw sesame snaps powder. Pastry wafer shortbread dragée lollipop.
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5">
          <div class="col-12 p-5 bg-dark-subtle" style="height: 500px">
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-1">
          <div class="col-10 p-5">
            <h3>See how cool the tool is -- show meaningful outputs</h3>
            <p>
              <br><br>
              Description of the output 
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="d-flex">
          <hr class="border border-secondary border-3 opacity-75" style="width:45%;"/> 
        </div>
        <div class="row pb-5" id="toolSection">
          <div class="col-12 p-5 bg-dark-subtle" style="height: 500px">
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-1">
          <div class="col-10 p-5">
            <h3>Try out the LCA calculator</h3>
            <p>
              <br><br>
              How it works 
            </p>
            <ol>
              <li>Do this</li>
              <li>Then this</li>
              <li>And finally this</li>
            </ol>
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-5" id="toolSection">
          <div class="col-12 p-5 bg-dark-subtle" style="height: 500px">
          </div> <!-- end col -->
        </div> <!-- end row -->
        <div class="row pb-1">
          <div class="col-10 p-5">
            <p>
              Learn more about how this was built -- link to about page
            </p>
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->

    </div> <!-- end reverse gradient -->


    <div class="customFooter">
      <div class="container-md" style="max-width: 1050px;">
        <div class="row">
          <div class="col-8 p-5">
            Astoria Ho, Clara Hu, Josh Everts -- MIMS '23 Capstone Project
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end footer section -->

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Observable JS -->
    <!-- line chart -->
    <script type="module">
      import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
      import define from "https://api.observablehq.com/d/cc45001d41e8b130.js?v=3";
      new Runtime().module(define, name => {
        if (name === "plot2") return new Inspector(document.querySelector("#observablehq-plot2-c4f5412f"));
      });
    </script>
    <!-- radar chart -->
    <script type="module">
      import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
      import define from "https://api.observablehq.com/d/d2acbd3b5d70efa1.js?v=3";
      new Runtime().module(define, name => {
        if (name === "allCharts") return new Inspector(document.querySelector("#observablehq-allCharts-8f5a3bd3"));
      });
      </script>
      <!-- supply chain animation -->
      <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
        import define from "https://api.observablehq.com/d/c901392bea8bf874.js?v=3";
        new Runtime().module(define, name => {
          if (name === "viewof replay") return new Inspector(document.querySelector("#observablehq-viewof-replay-e6d12576"));
          if (name === "allCharts") return new Inspector(document.querySelector("#observablehq-allCharts-e6d12576"));
        });
        </script>

  </body>
</html>