<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIMS Capstone Project: Equity</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- CSS -->
    <link href="../css/main.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- Observable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
  
  </head>
  <body>

    <div class="">
        <div class="col-12"> <!-- begin nav bar -->
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="index.html#toolSection">Tool</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="equity.html">Equity</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">About</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>  
        </div> <!-- end nav bar -->
  
      </div> <!-- end header section -->


    <div class="customGradientReverse py-5">
        <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
          <div class="row pb-1">
            <div class="col-8 p-5">
              <h3>Section Title</h3>
              <p>Cupcake oat cake lemon drops tiramisu tiramisu dessert chupa chups caramels gummi bears. Wafer lollipop candy canes pie carrot cake oat cake pie cake. Chocolate cake gummies biscuit carrot cake candy canes bear claw sesame snaps powder. Pastry wafer shortbread dragée lollipop.</p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row pb-5">
            <div class="col-12 p-5 bg-dark-subtle" style="height: 500px">
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->
  
        <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
          <div class="row pb-1">
            <div class="col-8 p-5">
              <h3>Section Title</h3>
              <p>Cupcake oat cake lemon drops tiramisu tiramisu dessert chupa chups caramels gummi bears. Wafer lollipop candy canes pie carrot cake oat cake pie cake. Chocolate cake gummies biscuit carrot cake candy canes bear claw sesame snaps powder. Pastry wafer shortbread dragée lollipop.</p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row pb-2 justify-content-around">
            <div class="col-5 p-5 bg-dark-subtle" style="height: 400px">
            </div> <!-- end col -->
            <div class="col-5 p-5 bg-dark-subtle" style="height: 400px">
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row pb-5 justify-content-around">
            <div class="col-5 p-5 bg-dark-subtle" style="height: 400px">
            </div> <!-- end col -->
            <div class="col-5 p-5 bg-dark-subtle" style="height: 400px">
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end reverse gradient -->
  
      <div class="customGradientYellow py-5">
        <div class="container-md bg-white mb-5 shadow" style="max-width: 1050px;">
          <div class="row pb-1">
            <div class="col-8 p-5">
              <h3>Section Title</h3>
              <p>Cupcake oat cake lemon drops tiramisu tiramisu dessert chupa chups caramels gummi bears. Wafer lollipop candy canes pie carrot cake oat cake pie cake. Chocolate cake gummies biscuit carrot cake candy canes bear claw sesame snaps powder. Pastry wafer shortbread dragée lollipop.</p>
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row pb-5">
            <div class="col-12 p-5 bg-dark-subtle" style="height: 500px">
            </div> <!-- end col -->
          </div> <!-- end row -->
          <div class="row pb-5">
            <div class="col-12 p-5 bg-dark-subtle" style="height: 500px">
            </div> <!-- end col -->
          </div> <!-- end row -->

          <div class="row">
            <div class="col-12 px-5 text-center">
              <h3>1. Year</h3>
              <!-- <p class="pt-2">Comparing the same vehicle model over time, the lifetime emissions decreased for the newer model.</p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->
        <div class="row pb-2 align-items-center">
            <div class="col-4 ps-5 pe-2" style="">
                <h5 class="text-center">2012</h5>
                <div class="text-center">
                    <img src="../static/images/comparison/2012Tiguan.png" class="w-50 h-auto rounded-3 py-2">
                    <!-- https://www.autos.ca/car-test-drives/test-drive-2012-volkswagen-tiguan-highline-2/ -->
                    <h6 class="text-center pt-3">Volkswagen Tiguan (ICE)</h6>
                    <small>Automatic (S6) / 2L / 4cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black">73,176.83 kgCO2e</span>
                    <br>
                  Equivalent to burning ~54 standard pickup trucks of coal
                   </p>
                </div>
                <!-- <p> 
                    Lifetime Emissions: 73,176.83 kgCO2e
                    Equivalent to burning ~54 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <div class="text-center py-2">
                    <!-- <div id="observablehq-chart-352a7ac9"></div> -->
                    <img src="../static/images/comparison/year_compare.png" class="w-100 h-auto">
                </div>
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <h5 class="text-center">2023</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/Tiguan2023.png" class="w-50 h-auto rounded-3">
                    <!-- https://www.motorbiscuit.com/2023-vw-tiguan-release-date-price-specs-best-selling-volkswagen/ -->
                    <h6 class="text-center pt-3">Volkswagen Tiguan (ICE)</h6>
                    <small>Automatic (S8) / 2L / 4cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black"> 67,256.71 kgCO2e</span>
                    <br>
                  Equivalent to burning ~50 standard pickup trucks of coal
                   </p>
                </div>
                <!-- </div>
                <p>
                    Volkswagen Tiguan (ICE), Automatic (S8) / 2L / 4cyl
                    <br>
                    Lifetime Emissions: 67,256.71 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~50 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->

          <div class="row pt-5">
            <div class="col-12 px-5 text-center">
              <h3>2. Type</h3>
              <!-- <p class="pt-2">Comparing similar vehicles (small SUV) but different types (internal combustion engine vs electric vehicle) result in different emissions.</p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->
        <div class="row pb-2 align-items-center">
            <div class="col-4 pe-2 ps-5" style="">
                <h5 class="text-center">Internal Combustion Vehicle (ICE)</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/Tiguan2023.png" class="w-50 h-auto rounded-3">
                    <h6 class="text-center pt-3">Volkswagen Tiguan (ICE)</h6>
                    <small>Automatic (S8) / 2L / 4cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black"> 67,256.71 kgCO2e</span>
                    <br>
                  Equivalent to burning ~50 standard pickup trucks of coal
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen Tiguan (ICE), Automatic (S8) / 2L / 4cyl
                    <br>
                    Lifetime Emissions: 67,256.71 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~50 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <div class="text-center py-2">
                    <img src="../static/images/comparison/type_compare.png" class="w-100 h-auto">
                </div>
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <h5 class="text-center">All Battery Electric (BEV)</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/id4.png" class="w-50 h-auto rounded-3">
                    <!-- https://www.idrivesocal.com/2023-volkswagen-id-4-ev-must-consider-compact-crossover/ -->
                    <h6 class="text-center pt-3">2023 Volkswagen ID.4 (EV)</h6>
                    <small>Automatic (A1)</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black"> 24,529.83 kgCO2e</span>
                    <br>
                  Equivalent to burning ~18 standard pickup trucks of coal
                  <br>
                  <strong>Grid Mix Location: California</strong>
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen ID.4 (EV), Automatic (A1)
                    <br>
                    Lifetime Emissions: 24,529.83 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~18 standard pickup trucks of coal
                    <br>
                    Location: California
                </p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->


          <div class="row pt-5">
            <div class="col-12 px-5 text-center">
              <h3>3. Location</h3>
              <!-- <p class="pt-2">How do emissions change depending on where you drive the EV?</p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->
        <div class="row pb-2 align-items-center">
            <div class="col-4 pe-2 ps-5" style="">
                <h5 class="text-center">California</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/CA_circle.png" class="w-50 h-auto rounded-3">
                    <h6 class="text-center pt-3">2023 Volkswagen ID.4 (EV)</h6>
                    <small>Automatic (A1)</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black"> 24,529.83 kgCO2e</span>
                    <br>
                  Equivalent to burning ~18 standard pickup trucks of coal
                  <br>
                  <strong>Grid Mix Location: California</strong>
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen ID.4 (EV), Automatic (A1)
                    <br>
                    Lifetime Emissions: 24,529.83 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~18 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <div class="text-center py-2">
                    <img src="../static/images/comparison/location_compare.png" class="w-100 h-auto">
                </div>
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <h5 class="text-center">Florida</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/FL_circle.png" class="w-50 h-auto rounded-3">
                    <!-- https://www.idrivesocal.com/2023-volkswagen-id-4-ev-must-consider-compact-crossover/ -->
                    <h6 class="text-center pt-3">2023 Volkswagen ID.4 (EV)</h6>
                    <small>Automatic (A1)</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black"> 35,015.97 kgCO2e</span>
                    <br>
                  Equivalent to burning ~26 standard pickup trucks of coal
                  <br>
                  <strong>Grid Mix Location: Florida</strong>
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen ID.4 (EV), Automatic (A1)
                    <br>
                    Lifetime Emissions: 35,015.97 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~26 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->

          <div class="row pt-5">
            <div class="col-12 px-5 text-center">
              <h3>4. Miles Driven over a Lifetime</h3>
              <!-- <p class="pt-2">Do emissions change if you drive a bigger or smaller car?</p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->
        <div class="row pb-2 align-items-center">
            <div class="col-4 pe-2 ps-5" style="">
                <h5 class="text-center">US Average, 178,000 miles</h5>
                <div class="text-center py-2">
                    <!-- <img src="../static/images/comparison/id4.png" class="w-50 h-auto rounded-3"> -->
                    <!-- https://www.idrivesocal.com/2023-volkswagen-id-4-ev-must-consider-compact-crossover/ -->
                    <h6 class="text-center pt-3">2023 Volkswagen Tiguan (ICE)</h6>
                    <small>Automatic (S8) / 2L / 4cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black">  67,256.71 kgCO2e</span>
                    <br>
                  Equivalent to burning ~50 standard pickup trucks of coal
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen Tiguan (ICE), Automatic (S8) / 2L / 4cyl
                    <br>
                    Lifetime Emissions: 67,256.71 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~50 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <div class="text-center py-2">
                    <img src="../static/images/comparison/miles_compare.png" class="w-100 h-auto">
                </div>
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <h5 class="text-center">89,000 miles</h5>
                <div class="text-center py-2">
                    <!-- <img src="../static/images/comparison/id4.png" class="w-50 h-auto rounded-3"> -->
                    <!-- https://www.idrivesocal.com/2023-volkswagen-id-4-ev-must-consider-compact-crossover/ -->
                    <h6 class="text-center pt-3">2023 Volkswagen Tiguan (ICE)</h6>
                    <small>Automatic (S8) / 2L / 4cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black">  37,755.78 kgCO2e</span>
                    <br>
                  Equivalent to burning ~28 standard pickup trucks of coal
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen Tiguan (ICE), Automatic (S8) / 2L / 4cyl
                    <br>
                    Lifetime Emissions: 37,755.78 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~28 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->

          <div class="row pt-5">
            <div class="col-12 px-5 text-center">
              <h3>5. Vehicle Size</h3>
              <!-- <p class="pt-2">Do emissions change if you drive a bigger or smaller car?</p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->
        <div class="row pb-2 align-items-center">
            <div class="col-4 pe-2 ps-5" style="">
                <h5 class="text-center">SUV</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/2023Atlas.png" class="w-50 h-auto rounded-3">
                    <!-- https://www.edmunds.com/volkswagen/atlas/2022/  -->
                    <h6 class="text-center pt-3">2023 Volkswagen Atlas (ICE)</h6>
                    <small>Automatic (S8) / 3.6L / 6cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black">  83,338.44 kgCO2e</span>
                    <br>
                  Equivalent to burning ~61 standard pickup trucks of coal
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen Atlas (ICE), Automatic (S8) / 3.6L / 6cyl
                    <br>
                    Lifetime Emissions: 83,338.44 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~61 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <div class="text-center py-2">
                    <img src="../static/images/comparison/size_compare.png" class="w-100 h-auto">
                </div>
            </div> <!-- end col -->
            <div class="col-4 ps-2 pe-5" style="">
                <h5 class="text-center">Compact</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/2023Jetta.png" class="w-50 h-auto rounded-3">
                    <!-- https://www.hamiltonvw.com/en/news/view/heres-what-you-should-know-about-the-2023-volkswagen-jetta/104734  -->
                    <h6 class="text-center pt-3">2023 Volkswagen Jetta (ICE)</h6>
                    <small>Automatic (S8) / 1.5L / 4cyl</small>
                </div>
                <div class="pt-2">
                    <p><strong>Lifetime Emissions </strong> <span class="bg-secondary rounded-pill py-1 px-2 text-center text-black">  50,182.6 kgCO2e</span>
                    <br>
                  Equivalent to burning ~37 standard pickup trucks of coal
                   </p>
                </div>
                <!-- </div>
                <p>
                    2023 Volkswagen Jetta (ICE), Automatic (S8) / 1.5L / 4cyl
                    <br>
                    Lifetime Emissions: 50,182.6 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~37 standard pickup trucks of coal
                </p> -->
            </div> <!-- end col -->
          </div> <!-- end row -->

         <!-- <div class="row pt-5">
            <div class="col-12 px-5 text-center">
              <h3>6. Vehicle Brand</h3>
               <p class="pt-2">Do emissions change if you drive a bigger or smaller car?</p> 
            </div>  
          </div>
        <div class="row pb-2 align-items-center">
            <div class="col-4 pe-2 ps-5" style="">
                <h5 class="text-center">Volume - Volkswagen</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/2023Atlas.png" class="w-50 h-auto rounded-3">
                     https://www.edmunds.com/volkswagen/atlas/2022/  
                </div>
                <p>
                    2023 Volkswagen Atlas (ICE), Automatic (S8) / 3.6L / 6cyl
                    <br>
                    Lifetime Emissions: 83,338.44 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~61 standard pickup trucks of coal
                </p>
            </div>  end col 
            <div class="col-4 ps-2 pe-5" style="">
                <div class="text-center py-2">
                    <img src="../static/images/comparison/brand_compare.png" class="w-100 h-auto">
                </div>
            </div>  end col
            <div class="col-4 ps-2 pe-5" style="">
                <h5 class="text-center">Sport - Porsche</h5>
                <div class="text-center py-2">
                    <img src="../static/images/comparison/2022cayenne.png" class="w-50 h-auto rounded-3">
                     https://www.caranddriver.com/porsche/cayenne-2022 
                </div>
                <p>
                    2023 Porsche Cayenne (ICE), Automatic (S8) / 3L / 6cyl
                     <br>
                    Lifetime Emissions: 90,385.01 kgCO2e
                    <br>
                    Lifetime Emissions of burning ~67 standard pickup trucks of coal
                </p>
            </div> end col
          </div> end row -->

        </div> <!-- end container -->
      </div> <!-- end gradient section -->
  
      <div class="customFooter">
        <div class="container-md" style="max-width: 1050px;">
          <div class="row">
            <div class="col-8 p-5">
              Astoria Ho, Clara Hu, Josh Everts -- MIMS '23 Capstone Project
            </div> <!-- end col -->
          </div> <!-- end row -->
        </div> <!-- end container -->
      </div> <!-- end footer section -->
  
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </body>